In [4]:
import math
import numpy as np
#Information Gain Using Entropy
#Formuala:  H(X) = Summation (p1 log[to the base]2 p1)

In [7]:
-(40/80) *np.log2(40/80)-(40/80) *np.log2(40/80)

1.0

In [8]:
-(30/40) *np.log2(30/40)-(10/40) *np.log2(10/40)

0.8112781244591328

In [10]:
-(10/40) *np.log2(10/40)-(30/40) *np.log2(30/40)

0.8112781244591328

In [11]:
#Reduction in Entropy
# Information Gain: I1-PiI2-PiI3
1-(4/8)*0.8112781244591328-(4/8)*0.8112781244591328

0.1887218755408671

In [ ]:
# Gini Index
#GI=1-Summation(Pi)^2

In [12]:
g1=1-(40/80)**2-(40/80)**2
g2=1-(30/40)**2-(10/40)**2
g3=1-(10/40)**2-(30/40)**2

In [13]:
print(g1,g2,g3)

0.5 0.375 0.375

In [16]:
IG= 0.5-(4/8)*0.375-(4/8)*0.375
print(IG)

0.125

In [17]:
import pandas as pd

In [51]:
data=pd.read_csv(r"C:/Users/hp/Desktop/Great Lakes/Supervised Learning/Untitled Folder/fit_transform.csv",skipinitialspace=True)

In [52]:
data.head()

   Age   Average Claims per Year (Rupees)
0    25                              4500
1    30                              5000
2    35                              6000
3    40                              8000
4    45                             11000

In [53]:
data['Average Claims per Year (Rupees)']

0      4500
1      5000
2      6000
3      8000
4     11000
5     15000
6     20000
7     30000
8     50000
9    100000
Name: Average Claims per Year (Rupees), dtype: int64

In [56]:
data.columns

Index(['Age ', 'Average Claims per Year (Rupees)'], dtype='object')

In [60]:
data['Age ']

0    25
1    30
2    35
3    40
4    45
5    50
6    55
7    60
8    65
9    70
Name: Age , dtype: int64

In [61]:
from scipy.stats import zscore

In [62]:
data.apply(zscore)

       Age   Average Claims per Year (Rupees)
0 -1.566699                         -0.720043
1 -1.218544                         -0.702438
2 -0.870388                         -0.667228
3 -0.522233                         -0.596808
4 -0.174078                         -0.491178
5  0.174078                         -0.350339
6  0.522233                         -0.174289
7  0.870388                          0.177810
8  1.218544                          0.882008
9  1.566699                          2.642503

In [70]:
from sklearn.preprocessing import StandardScaler
independant_scalor = StandardScaler()
gl_blr = StandardScaler()

In [71]:
X_train_scaled = independant_scaler.fit_transform(X_train)
Y_train_scaled = independant_scaler.transform(Y_train)

NameError: name 'independant_scaler' is not defined